<div class="container">
  <form name="employViewForm">
    <div style="float: right;margin-bottom: 20px;margin-top: 20px;">
      <button type="submit" style="width: 100px;" class="btn btn-success" (click)="goBack()">Back</button>
    </div>
    <div class="form-group">
      <label for="employID">Employ ID :</label>
      <input type="number" class="form-control" id="employId" name="employId" [(ngModel)]="employDetails.employ_id" [disabled]="true">
    </div>

    <div class="form-group">
      <label for="employName">Employ Name :</label>
      <input type="text" class="form-control" id="employName" name="employName" [(ngModel)]="employDetails.employ_name" [disabled]="true">
    </div>

    <div class="form-group">
      <label for="employAdress">Employ Adress :</label>
      <input type="text" class="form-control" id="employAdress" name="employAdress" [(ngModel)]="employDetails.employ_adress" [disabled]="true">
    </div>

    <div class="form-group">
      <label for="employtype">Employ Type :</label>
      <input type="text" class="form-control" id="employtype" name="employtype" [(ngModel)]="employDetails.employ_type" [disabled]="true">
    </div>
  </form>
</div>